In [9]:
import pandas as pd
import numpy as np

In [10]:
### Pands 
#### Panel - Dataframe - series
* Panel -  Data more than to dimension 
* Dataframe -  Its a tablelike structure, 2d Data,  Matrix
* Series - It is array like structure, 1D Data 

*This are the three main data structure in pandas.
*Pandas supports Numeric and object datatypes 
*Numeric contains - int,int64,float
*Object - String, Characters, Alphanumric Characters, Symbols,Bits and Bytes

Panda is one of the most used data analytical library/noduel in python.
Libray - set of classes, set of funtion, set of object.
Pandas can be work with files, text, databases, websites and clouds.

SyntaxError: invalid decimal literal (980981174.py, line 4)

In [17]:
arr = np.array(["Sun","Mon","Tue","Wed","Thu","Fri","Sat"])

In [22]:
s1 = pd.Series(arr,name="Weekdays")
s1

0    Sun
1    Mon
2    Tue
3    Wed
4    Thu
5    Fri
6    Sat
Name: Weekdays, dtype: object

In [23]:
s2 = pd.Series([2,5,7,4], name="Number List")
s2

0    2
1    5
2    7
3    4
Name: Number List, dtype: int64

In [24]:
s3 = pd.Series((1,2,3,4,5))
s3

0    1
1    2
2    3
3    4
4    5
dtype: int64